body {
	background: #EEEEEE;
	color: #111111;
}

p, h1, h2, h3, ol, ul, .intro {
	max-width: 800px;
}

body, p code {
	font-size: 22px;
}

pre {
	overflow-x: auto;
}

p img {
	width: 100%;
}

.intro {
  padding: 48px 0;
	text-align: center;
  font-family: Helvetica, Arial, Sans;
	color: #EEEEEE;
	background: forestgreen;
}

