body {
  font-size: 1.6rem;
  font-family: Athelas, Calisto MT, Georgia, serif;
}

p, h1, h2, h3, h4, h5, h6, ol, ul, pre, hr, .intro {
  margin-left: auto;
  margin-right: auto;
  max-width: 48rem;
}

h1, h2, h3, h4, h5, h6, .intro {
  font-family: "Helvetica Neue", "Gill Sans Nova", Calibri, Lucida, sans-serif;
}

body, p code {
}

pre {
  font-size: 0.8rem;
  overflow-x: auto;
}

p img {
  width: 100%;
}

.intro {
  padding: 2rem 0;
  text-align: center;
  color: white;
  background: forestgreen;
}

